.rdw-editor-toolbar {
  border: 1px var(--chakra-colors-cyan-100) solid;
  background-color: var(--chakra-colors-cyan-100);
  border-top-left-radius: var(--chakra-radii-sm);
  border-top-right-radius: var(--chakra-radii-sm);
  margin: 0;
}
.rdw-option-wrapper {
  background-color: transparent;
  border: none;
}
.rdw-option-wrapper:hover {
  transition: 0.2s ease all;
  box-shadow: none;
  background-color: var(--chakra-colors-cyan-200);
}

.rdw-option-active {
  transition: 0.2s ease all;
  box-shadow: none;
  background-color: var(--chakra-colors-cyan-300);
}

.DraftEditor-root {
  padding: 0 15px;
  border: 1px var(--chakra-colors-cyan-100) solid;
  border-top: none;
  border-radius: var(--chakra-radii-sm);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  max-height: 300px;
  min-height: 100px;
  overflow: auto;
}
